h1 {
color: rgb(36, 36, 95);
text-align: center;
}
body {
    background-color: rgb(179, 196, 222);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    }
h6 {
    color: rgb(86, 18, 29);
    text-align: center;
    }
h5 {
    color: rgb(49, 158, 154);
    text-align: center;
    }